

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
}

body{
    
     
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: #031634}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

#intro{

  padding: 4rem 1rem 5rem 1rem;
  max-width: 1000px;
  margin: 0 auto;

}

#intro p{
    font-size: medium;
    color: white;
}

.name span{
     display: block;
     color: rgb(242, 0, 255);
     font-size: 3rem;
}

.profile{

    padding-bottom: 1rem;
}

#intro h2{

    font-size: 3rem;
}

#experience ul{

    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
}

#experience li{ 
    
 text-decoration: none;
 padding: 1rem;

}

#hire{
    background-color: #066464;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    padding: 3rem 0;
}

#hire p:last-child{
    padding: 3rem;
}

.somecolor{

     background-color: #066464;
}

nav{
    font-size: 80%;
    padding: 1rem;
    background-color: #033649;

}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 2rem;
}

nav a {
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

nav li:first-child{
      flex-grow: 1;
    font-size: 1.5rem;
    margin-left: 3rem;
}

nav a:hover {
    color: #CEB280;
    font-size: 1.2rem;
    text-decoration: solid;
}

.button{
    background-color: orangered;
    padding: 0.5rem;
    border-radius: 5px;
    
}

footer{
    text-align: center;
    padding: 2rem 0;

}

.gradient-section{
    height: 2px;
    background: white;
}

